/*Color scheme
#C98474
#874C62
#A7D2CB
#F2D388*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #A7D2CB;
}

.title {
  color: #874C62;
  margin-left: 5%;
}

.nav {
  position: fixed;
  top: 10%;
  width: 100%;
  z-index: 1;
}

.nav, ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(201,132,116, 0.95);
  padding: 0;
}

.posts {
  padding: 5%;
}

.blog-posts {
  padding-left: 8%;
}

.posts-form-container {
  display: block;
  text-align: center;
}

.posts-form {
  width: 70%;
  display: inline-block;
  text-align: left;
}

/*Post it code modified from
https://mentormate.com/blog/css-postit-note/*/

.individual-post {
  line-height: 1;
  text-align:center;
  width: 1000px;
  margin: 25px;
  min-height:500px;
  max-height:70%;
  padding: 5px;
  position:relative;
  border:1px solid #E8E8E8;
  border-top:50px solid #fdfd86;
  font-size:22px;
  border-bottom-right-radius: 60px 7px;
  display:inline-block;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.individual-post:after {
  content: "";
  position:absolute;
  z-index:-1;
  right:-0px; bottom:20px;
  width:400px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.post-container {
  text-align: center;
}


/*Styling for Search Recipe page*/

.search {
  text-align: center;
  margin-top: 10%;
}

.search-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

.search-text {
  display: inline-block;
  text-align: left;
  width: 400px;
  margin-right: 20px;
}

.search-img {
  display: inline-block;
  right: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 3px;
}
